* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: deepskyblue;
}

.content {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.content div {
  scroll-snap-align: start;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
